<body>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-6 justify-content-center">
            <div class="container">
            </div>
            <div class="container mt-5 d-flex justify-content-center" style="flex-direction: column;">
               <img src="/assets/images/celebration.svg" width="100px" class="rounded mx-auto" alt="" />
               <h2>Payment Successful !</h2>
               <p>We are delighted to inform you that we received your payments</p>
               <a routerLink="../purchased" class="btn btn-primary">View Orders</a><br>
               <a routerLink="/app" style="margin-top: 40px;">Continue Shopping</a>
            </div>
         </div>
      </div>
   </div>
</body>