<body>
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong class="mt-5">Mail Sent Successfully</strong><br> Check your mail and login with the given temporary password.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container d-flex align-content-center justify-content-center" id="container">
    <div class="col-6 mt-5">
      <form class="form" name="myForm" #passForm="ngForm" (ngSubmit)="forgotPassword(passForm.value)">
        <div class="form-group">
          <h3 class="text-center">Forgot Password</h3>
        </div>
        <div class="form-group">
          <label>username / email</label>
          <input id="name" name="username" required class="form-control"  ngModel>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" [disabled]="passForm.invalid" class="form-control btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</body>