<body>
    <div class="container">
        <div class="d-flex align-content-center">
            <div class="col-4">
                <div class="card mt-2 shadow">
                    <img [src]="bid.product.image" alt="Product Image" width="100px" height="100px"
                        class="rounded mx-auto shadow mt-2">
                    <div class="d-flex card-body text-center" style="flex-direction: column;">
                        <h5 class="text-center">{{bid.product.productName}}</h5>
                        <p class="card-text ">Description : {{bid.product.description}}</p>
                        <p>Initial Bid : {{ bid.product.initialBid | currency:'INR':true}}</p>
                        <p>Your Bid : {{ bid.bidValue | currency:'INR':true}}</p><br>
                    </div>
                </div>
            </div>
            <div class="col mt-2 mb-4 shadow-sm">
                <h3 class="text-center text-primary"><u>Payment Details</u></h3>
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/payment/025-mastercard.svg" width="50px">
                    <img src="/assets/images/payment/040-visa.svg" width="50px">
                    <img src="/assets/images/payment/013-discover.svg" width="50px">
                    <img src="/assets/images/payment/029-paypal.svg" width="50px">
                </div>
                <form style="padding: 20px;" [formGroup]="cardDetails" (ngSubmit)="placeOrder(bid)" class="shadow-sm">
                    <h5><u> Card Details :</u></h5>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Card Holder's Name : </label>
                            <input placeholder="Card Holder's Name" pattern="[^0-9]*" class="form-control" formControlName='cardHolder' 
                                [class.invalid-input]="cardDetails.get('cardHolder').touched && cardDetails.get('cardHolder').invalid">
                            <div *ngIf="cardDetails.get('cardHolder').touched && cardDetails.get('cardHolder').invalid">
                                <small class="text-danger" *ngIf="cardDetails.get('cardHolder').errors?.required">name can't be empty</small>
                                <small class="text-danger" *ngIf="cardDetails.get('cardHolder').errors?.pattern">enter valid name</small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Card Number : </label>
                            <input placeholder="Card Number" pattern="[0-9]{16}" onKeyPress="if(this.value.length==16) return false;" type="number" class="form-control" formControlName='cardNumber'
                                [class.invalid-input]="cardDetails.get('cardNumber').touched && cardDetails.get('cardNumber').invalid">
                            <div *ngIf="cardDetails.get('cardNumber').touched && cardDetails.get('cardNumber').invalid">
                                    <small class="text-danger" *ngIf="cardDetails.get('cardNumber').errors?.required">enter card details</small>
                                    <small class="text-danger" *ngIf="cardDetails.get('cardNumber').errors?.pattern">enter valid card details</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-6">
                            <label>Expiry : </label>
                            <div class="form-row">
                                <div class="col-6 form-group">
                                    <select class="form-control" formControlName='month' [class.invalid-input]="cardDetails.get('month').touched && cardDetails.get('month').invalid">
                                        <option selected value="">Month</option>
                                        <option *ngFor="let m of months;let i=index" [value]='i+1' >{{m}}</option>
                                    </select>
                                    <small class="text-danger" *ngIf="cardDetails.get('month').touched && cardDetails.get('month').invalid">select month</small>
                                </div>
                                <div class="col-6 form-group">
                                    <select class="form-control" formControlName='year'[class.invalid-input]="cardDetails.get('year').touched && cardDetails.get('year').invalid">
                                        <option selected value="">Year</option>
                                        <option *ngFor="let y of year;" [value]='y'>{{y}}</option>
                                    </select>
                                    <small class="text-danger" *ngIf="cardDetails.get('year').touched && cardDetails.get('year').invalid">select year</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>CVV : </label>
                            <input placeholder="CVV" type="password" pattern="\d{3}"  onKeyPress="if(this.value.length==3) return false;"  class="form-control" formControlName="cvv"
                                [class.invalid-input]="cardDetails.get('cvv').touched && cardDetails.get('cvv').invalid">
                            <div *ngIf="cardDetails.get('cvv').touched && cardDetails.get('cvv').invalid">
                                    <small class="text-danger" *ngIf="cardDetails.get('cvv').errors?.required">enter cvv</small>
                                    <small class="text-danger" *ngIf="cardDetails.get('cvv').errors?.pattern">enter valid cvv</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-6 form-check form-group">
                            <input type="checkbox" value="true" formControlName='save'><label style="margin-left: 5px;">Save Card Details</label>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-2">
                            <input type="submit" [disabled]="cardDetails.invalid" [value]="'Pay '+(bid.bidValue | currency:'INR':true)" class="btn-success">
                        </div>
                    </div>
                    <div *ngIf="savedCards">
                        <h6>Saved Cards : </h6>
                        <div class="form-group ml-5">
                            <div *ngFor="let card of savedCards">
                                <input type="radio" name="card" [value] = "card" (click)="setCardDetails(card)" class="mb-4"><strong style="display: inline;"> {{"    "+card.cardNumber.toString().substring(0,4)+"*****"+card.cardNumber.toString().substring(12,16)}} </strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>