<body>
  <div class="container">
    <h2 class="text-center text-primary">Your Auction products:</h2><br>
  <div *ngIf="empty" class="text-success text-center">
    <div class="align-content-center justify-content-center">
      <img src="\assets\images\no_results_found2.png"
        style="margin-left: auto; margin-right: auto;display: block;border-radius: 100%;height: 300px;">
    </div>
    <h3>
      You don't have any products in the Auction...
      <small>Why waiting, Go and add products</small>
    </h3>
  </div>
  <div *ngIf="isAccepted" class="alert alert-success alert-dismissible fade show m-3 text-center" role="alert">
    <strong class="text-center bolder">Bid Accepted And Successfully Removed the Product From Auction</strong><br>
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row ml-2 mb-4" *ngFor="let product of myProducts">
      <div class="col-4">
        <div class="card shadow-sm" >
          <img [src]="product.image" width="150px" height="150px" class="rounded mx-auto d-block">
          <div class="d-flex card-body" style="flex-direction: column;">
            <h3 class="text-center">{{product.productName}}</h3>
            <h5 class="mb-4 mt-3 text-center">Initialbid : {{product.initialBid | currency:'INR':true}}</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <h6>Bids Recieved</h6>
        <div class="card">
          <table class="table" *ngIf="product.bids.length!=0">
            <thead>
              <tr class="align-center">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bid of product.bids;let i=index">
                <td>{{i+1}}</td>
                <td>{{bid.biddername[0].toUpperCase()+bid.biddername.substring(1)}}</td>
                <td>{{bid.bidValue | currency:'INR':true}}</td>
                <td><button (click)="acceptBid(bid.bidId)" class="btn btn-success">Accept</button></td>
              </tr>
            </tbody>
          </table>
          <div class="card shadow" *ngIf="product.bids.length===0">
            <div class="card-body text-center">
              No Bids Recieved for The Product
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</body>